---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

let allProjects = await getCollection('projects');

allProjects = allProjects.sort((a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime());
---

<Layout title="Home">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5 3xl:grid-cols-6 gap-3">
        {allProjects.map((project) => (
            <div>
                <a href={`/projects/${project.slug}`}>
				    <Image src={project.data.image.url} width={1920} height={1440} alt={project.data.title} loading="eager" />
                </a>
                <div class="px-5 py-3 bg-zinc-900">
                    <h2 class="truncate font-semibold">{project.data.title}</h2>
                    <p class="text-sm text-zinc-400 mb-3">{project.data.description}</p>
                    <div class="flex flex-wrap gap-1">
                        {project.data.techStack.map((tech: string) => (
                            <Image src={`/tech-icons/${tech}.svg`} alt={tech} loading="lazy" height="24" width="24" />
                        ))}
                    </div>
                </div>
            </div>
        ))}
    </div>
</Layout>