---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon/components';

interface Props {
	title: string;
	slug: string;
	image: string;
	description: string;
	techStack: string[];
	previewUrl?: string;
	gitHubUrl?: string;

}

const { title, slug, image, description, techStack, previewUrl, gitHubUrl } = Astro.props;
---

<div class="bg-ctp-surface0 rounded-md overflow-hidden shadow-md">
	<a href={`/projects/${slug}`}>
		<Image src={image} width={1920} height={1440} alt={title} loading="eager" />
	</a>
	<div class="p-4">
		<div class="truncate font-semibold leading-none">{title}</div>
		<p class="text-sm mb-2 text-ctp-subtext0">{description}</p>
		<div class="flex flex-wrap gap-1">
			{techStack.map((tech: string) => (
				<Icon name={tech} size={24} class="stroke-red-500 text-red-500" />
			))}
		</div>

		<div class="gap-1 hidden">
			{previewUrl &&
				<a href={previewUrl} class="flex gap-2 items-center bg-ctp-mauve text-black text-xs rounded-md py-2 px-2">
					<Icon name="app-window" size={24} class="stroke-blue-500" />
				</a>
			}
			{gitHubUrl &&
				<a href={gitHubUrl} class="flex gap-2 items-center bg-ctp-mauve text-black text-xs rounded-md py-2 px-4">
					<Icon name="code" size={24} />
				</a>
			}
		</div>
	</div>
</div>
