---
import Image from 'astro/components/Image.astro';
import PageHeading from '../components/PageHeading.astro';
import Layout from './Layout.astro'
import { Icon } from 'astro-icon/components';
const { frontmatter } = Astro.props;
---
<Layout title='Blog'>
    <div class="grid grid-cols-1 md:grid-cols-3 gap-5 mb-5">
        <Image 
            src={frontmatter.imagePath} 
            width="1920" height="1280" 
            alt={frontmatter.title} 
            class="w-full rounded-md shadow-md col-span-1" 
            loading="eager"
        />
        <div class="col-span-2">
            <PageHeading title={frontmatter.title} />
            <p class="text-ctp-subtext0 mb-3">{frontmatter.description}</p>
            <div class="flex flex-wrap gap-2 mb-1">
                {frontmatter.techStack.map((tech: string) => (
                    <Icon name={tech} size={28} class="text-ctp-mauve" />
                ))}
            </div>
            <slot />
        </div>
    </div>
    
    <div>
        <h2 class="text-xl font-light mb-3">Screenshots</h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-5">

        </div>
    </div>
</Layout>
